<mat-toolbar class="main-toolbar">
  <mat-toolbar-row>
      <span>Add Author</span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="accent" (click)="onSubmit()">Save</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="separator"></div>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <form class="example-form" [formGroup]="addAuthorForm">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="First Name" formControlName="firstname">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Last Name" formControlName="lastname">
              </mat-form-field>
            
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="test@test.com" formControlName="email">
              </mat-form-field>

              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-grid-tile>Upload your thumbnail image</mat-grid-tile>
                <button  mat-icon-button onClick="document.getElementById('singleFile').click()"><mat-icon>cloud_upload</mat-icon></button>
                <input id="singleFile" type="file" style="display:none" [fileUploadInputFor]= "fileUploadQueue"/>
                <mat-file-upload-queue #fileUploadQueue
                    [fileAlias]="'img'"
                    [httpUrl]="uploadAPI">
                    <mat-file-upload class="upload-dialog" [file]="file" (onUpload)="doneUpload($event)" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
                </mat-file-upload-queue>
                <mat-progress-spinner
                  *ngIf="spinnerFlag"
                  class="spinner"
                  [color]="color"
                  [mode]="mode"
                  [value]="value">
                </mat-progress-spinner>
              </div>
              <mat-form-field class="example-full-width">
                <textarea matInput rows="15" cols="50" placeholder="Author's Profile" formControlName="profile"></textarea>
              </mat-form-field>
      </form>    
</div>
