<mat-toolbar class="main-toolbar">
    <mat-toolbar-row>
        <span>Forgot Password</span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div class="separator"></div>
  
  <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
  
        <div>
            <form class="example-form" [formGroup]="forgotPasswordForm">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field> 
            </form>
  
            <div class="btn">
            <span class="example-spacer"></span>
            <button mat-raised-button color="accent" (click)="onSubmit()">Send Reset Password Email</button>
          </div>
        </div>
    </div>
  
  
  