<mat-toolbar class="main-toolbar">
    <mat-toolbar-row>
        <span>Change Password</span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div class="separator"></div>
  
  <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
  
        <div>
            <form class="example-form" [formGroup]="changePasswordForm">
                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Current password" formControlName="currentPassword">
                </mat-form-field>
  
                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="New password" formControlName="password">
                </mat-form-field>
  
                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
                </mat-form-field>
            </form>
  
            <div class="btn">
            <span class="example-spacer"></span>
            <button mat-raised-button color="accent" (click)="onSubmit()">Change</button>
          </div>
  </div>
  
  